body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}
.main {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    background-color: white;
}
p{
    text-align: justify;
    margin: 10px;
}
a{
    color: tomato;
}