footer {
    background-color: #2c3e50;
    color: #fff;
    border-top: 5px solid #f1c40f;
    text-align: center;
    padding: 20px;
    min-height: 80px;
}
footer p {
    font-weight: 600;
    color:#ecf0f1;
}
footer p span {
    font-weight: 700;
}
footer p a {
    color: #f1c40f;
    text-decoration: none;
    font-weight: 600;
}   